In [162]:
import pandas as pd
from sqlalchemy import create_engine

### Store CSV into DataFrame for CMOA Artwork Data

In [165]:
csv_file = "Resources/cmoa_artwork.csv"
cmoa_artwork_df = pd.read_csv(csv_file)
cmoa_artwork_df.tail(2)

,acc_num,title,medium,acq,create_year,acq_date,copyright,thumb_url,web_url,artist_name,artwork_id,artist_id,museum_code,ulan,wiki,dept,donor_name,classification,donor_type
28267,99.7,View of Saint-Mammès,oil on canvas,NaN,c. 1881,1899-01-09,NaN,http://collection.cmoa.org/CollectionImage.asp...,http://collection.cmoa.org/CollectionDetail.as...,NaN,NaN,NaN,1,NaN,NaN,Fine Arts,"Alfred Sisley [1839-1899], until July 23, 1881...",paintings,Person
28268,99.9,The Clouded Sun,oil on canvas,NaN,1891,1899-02-13,NaN,http://collection.cmoa.org/CollectionImage.asp...,http://collection.cmoa.org/CollectionDetail.as...,NaN,NaN,NaN,1,NaN,NaN,Fine Arts,"Thomas B. Clarke, New York, NY, until 1899; so...",paintings,Person

### Make edits to cmoa artwork to match artwork dataframes before merge

In [173]:
# # # Drop the 'copyright' and 'wiki' columns
# cmoa_artwork_clean_df = cmoa_artwork_df.drop(['copyright', 'wiki'], axis='columns', inplace=True)

# # # Examine the shape of the DataFrame
# cmoa_artwork_clean_df.head()

In [169]:
cmoa_artwork_df.head(2)

,acc_num,title,medium,acq,create_year,acq_date,thumb_url,web_url,artist_name,artwork_id,artist_id,museum_code,ulan,dept,donor_name,classification,donor_type
0,2002.17,Keith Haring,gelatin silver print,NaN,1984,6/6/2002,http://collection.cmoa.org/CollectionImage.asp...,http://collection.cmoa.org/CollectionDetail.as...,Robert Mapplethorpe,NaN,NaN,1,NaN,Contemporary Art,"The Robert Mapplethorpe Foundation, 2002",photographs,Person
1,2002.19,Untitled,oil on canvas,NaN,1964-1965,6/6/2002,http://collection.cmoa.org/CollectionImage.asp...,http://collection.cmoa.org/CollectionDetail.as...,Jo Baer,NaN,NaN,1,NaN,Contemporary Art,"(Daniel Weinberg Gallery), Santa Monica, CA; M...",paintings,Person

In [170]:
# # Using DataFrame.insert() to add donor_id column 
# do no usedonor_id={}

# do not use cmoa_artwork_df['donor_id']= donor_id 
cmoa_artwork_clean_df = cmoa_artwork_df.assign(donor_id="")

In [171]:
cmoa_artwork_clean_df.tail(2)

,acc_num,title,medium,acq,create_year,acq_date,thumb_url,web_url,artist_name,artwork_id,artist_id,museum_code,ulan,dept,donor_name,classification,donor_type,donor_id
28267,99.7,View of Saint-Mammès,oil on canvas,NaN,c. 1881,1899-01-09,http://collection.cmoa.org/CollectionImage.asp...,http://collection.cmoa.org/CollectionDetail.as...,NaN,NaN,NaN,1,NaN,Fine Arts,"Alfred Sisley [1839-1899], until July 23, 1881...",paintings,Person,
28268,99.9,The Clouded Sun,oil on canvas,NaN,1891,1899-02-13,http://collection.cmoa.org/CollectionImage.asp...,http://collection.cmoa.org/CollectionDetail.as...,NaN,NaN,NaN,1,NaN,Fine Arts,"Thomas B. Clarke, New York, NY, until 1899; so...",paintings,Person,

In [172]:
list(cmoa_artwork_clean_df)

['acc_num',
 'title',
 'medium',
 'acq',
 'create_year',
 'acq_date',
 'thumb_url',
 'web_url',
 'artist_name',
 'artwork_id',
 'artist_id',
 'museum_code',
 'ulan',
 'dept',
 'donor_name',
 'classification',
 'donor_type',
 'donor_id']

# *** Location where move to merging Artwork

### Store CSV into DataFrame for MOMA Artwork Data

In [179]:
csv_file = "Resources/moma-Artworks.csv"
moma_artwork_df = pd.read_csv(csv_file)
moma_artwork_df.tail(2)

,Unnamed: 0,title,artist_name,donor_id,create_year,medium,acq,acc_num,classification,dept,acq_date,web_url,thumb_url,museum_code,artwork_id,artist_id,ulan,donor_name,donor_type
138159,138159,(page 221) from The Voice of the City and Othe...,George Grosz,2374,1935 (originals executed 1933–34),from an illustrated book with twenty-six line ...,The Louis E. Stern Collection,855.1964.47,Illustrated Book,Drawings & Prints,10/6/1964,NaN,NaN,2,,,,,
138160,138160,(page 223) from The Voice of the City and Othe...,George Grosz,2374,1935 (originals executed 1933–34),from an illustrated book with twenty-six line ...,The Louis E. Stern Collection,855.1964.48,Illustrated Book,Drawings & Prints,10/6/1964,NaN,NaN,2,,,,,

In [135]:
list(moma_artwork_df)

['Unnamed: 0',
 'title',
 'artist_name',
 'donor_id',
 'create_year',
 'medium',
 'acq',
 'acc_num',
 'classification',
 'dept',
 'acq_date',
 'web_url',
 'thumb_url',
 'museum_code',
 'artwork_id',
 'artist_id',
 'ulan',
 'donor_name',
 'donor_type']

### Make edits to MOMA artwork to match artwork dataframes before merge

In [136]:
# # Drop the 'Unnamed: 0' column

moma_artwork_df.drop(['Unnamed: 0'], axis='columns', inplace=True)

In [137]:
list(moma_artwork_df)

['title',
 'artist_name',
 'donor_id',
 'create_year',
 'medium',
 'acq',
 'acc_num',
 'classification',
 'dept',
 'acq_date',
 'web_url',
 'thumb_url',
 'museum_code',
 'artwork_id',
 'artist_id',
 'ulan',
 'donor_name',
 'donor_type']

### Store CSV into DataFrame for TATE Artwork Data

In [138]:
csv_file = "Resources/tate_artwork.csv"
tate_artwork_df = pd.read_csv(csv_file)
tate_artwork_df.tail()

,acc_num,title,medium,acq,create_year,acq_date,thumb_url,web_url,artist_name,artwork_id,artist_id,museum_code,ulan,dept,donor_name,classification,donor_type,donor_id
69196,T11010,Landscape with Castle under a Stormy Sky,"Graphite, ink and watercolour on paper",Purchased as part of the Oppé Collection with ...,NaN,1997.0,NaN,http://www.tate.org.uk/art/artworks/seabrooke-...,Elliott Seabrooke,,,3,,,,,,
69197,T11028,[title not known],Etching on paper,Purchased as part of the Oppé Collection with ...,1819.0,1997.0,https://data.opendatasoft.com/api/datasets/1.0...,http://www.tate.org.uk/art/artworks/gainsborou...,Thomas Gainsborough,,,3,,,,,,
69198,T11045,[title not known],Etching and watercolour on paper,Purchased as part of the Oppé Collection with ...,1819.0,1997.0,https://data.opendatasoft.com/api/datasets/1.0...,http://www.tate.org.uk/art/artworks/gainsborou...,Thomas Gainsborough,,,3,,,,,,
69199,T11089,The Statue of Four Metals,Etching on paper,Purchased as part of the Oppé Collection with ...,1807.0,1997.0,https://data.opendatasoft.com/api/datasets/1.0...,http://www.tate.org.uk/art/artworks/flaxman-th...,John Flaxman,,,3,,,,,,
69200,T11109,Count Ugolino Seized,Etching on paper,Purchased as part of the Oppé Collection with ...,1807.0,1997.0,https://data.opendatasoft.com/api/datasets/1.0...,http://www.tate.org.uk/art/artworks/flaxman-co...,John Flaxman,,,3,,,,,,

In [139]:
list(tate_artwork_df)

['acc_num',
 'title',
 'medium',
 'acq',
 'create_year',
 'acq_date',
 'thumb_url',
 'web_url',
 'artist_name',
 'artwork_id',
 'artist_id',
 'museum_code',
 'ulan',
 'dept',
 'donor_name',
 'classification',
 'donor_type',
 'donor_id']

## Combine the 3 artwork dataframes into 1

In [174]:
# Ignoring indexes on the concatenation axis¶
#For DataFrame objects which don’t have a meaningful index, 
#you may wish to append them and ignore the fact that they may have overlapping indexes. 
#To do this, use the ignore_index argument:
artwork_merged_df = pd.concat([tate_artwork_df, moma_artwork_df, cmoa_artwork_clean_df], ignore_index=True, sort=False)

In [180]:
artwork_merged_df.tail(2)

,acc_num,title,medium,acq,create_year,acq_date,thumb_url,web_url,artist_name,artwork_id,artist_id,museum_code,ulan,dept,donor_name,classification,donor_type,donor_id
235629,99.7,View of Saint-Mammès,oil on canvas,NaN,c. 1881,1899-01-09,http://collection.cmoa.org/CollectionImage.asp...,http://collection.cmoa.org/CollectionDetail.as...,NaN,NaN,NaN,1,NaN,Fine Arts,"Alfred Sisley [1839-1899], until July 23, 1881...",paintings,Person,
235630,99.9,The Clouded Sun,oil on canvas,NaN,1891,1899-02-13,http://collection.cmoa.org/CollectionImage.asp...,http://collection.cmoa.org/CollectionDetail.as...,NaN,NaN,NaN,1,NaN,Fine Arts,"Thomas B. Clarke, New York, NY, until 1899; so...",paintings,Person,

In [177]:
list(artwork_merged_df)

['acc_num',
 'title',
 'medium',
 'acq',
 'create_year',
 'acq_date',
 'thumb_url',
 'web_url',
 'artist_name',
 'artwork_id',
 'artist_id',
 'museum_code',
 'ulan',
 'dept',
 'donor_name',
 'classification',
 'donor_type',
 'donor_id']

### Export Merged Dataframe to CSV

In [178]:
artwork_merged_df.to_csv("Resources/artwork_merged.csv", index = False, header=True)
# weather_data2_df.to_csv("output_data/cities.csv", index = False)